* {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  background: #f6f1e2;
  overflow-y: scroll; /* Always show scrollbar to prevent layout shift */
}
.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 100%;
  color: #333;
  padding-bottom: 5rem; /* to prevent content being hidden behind controls */
}
/* align controls and content side by side */
.controls {
  position: fixed;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  top: 2vh;
  padding: min(1em, 3%);
  border-radius: 2rem;
  /* glass effect */
  background: #f6f1e2;
  box-shadow: 0 12px 22px 0 #f6f1e2;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 96%; /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.controls > nav {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls .book-selector {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 45%;
}
.controls .book-selector select {
  padding: 0.6rem;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  border-radius: 0.9rem;
  border: 1px solid #333;
  color: #000;
  outline: none;
  cursor: pointer;
  background-color: #f6f1e2;
}
.controls .chapter-selector {
  /* font-size: clamp(1rem, calc(1vw + 0.53rem), 3.5rem); */
  min-width: 7rem;
}
.controls .btn-container {
  width: 48%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
.btn {
  border-radius: 0.9rem;
  border: 1px solid #333;
  color: #333;
  outline: none;
  font-size: clamp(1rem, calc(1vw + 0.53rem), 3.5rem);
  cursor: pointer;
  background-color: #f6f1e2;
}
.btn:hover {
  transition: all 0.1s;
}
.btn:active {
  opacity: 0.9;
}
.controls .themes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0 0 0;
  font-size: clamp(1rem, calc(1vw + 0.53rem), 3.5rem);
  display: none;
  cursor: default;
}
.content {
  flex: 3;
  margin-top: 6rem;
  height: 100%;
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out 0.1s forwards;
}
.content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .header .book-name {
  font-size: clamp(3.1rem, calc(3vw + 1rem), 3.5rem);
}
.content .header .book-chapter {
  color: rgb(33, 33, 33);
  font-size: clamp(2.1rem, calc(2.6vw + 1rem), 3.5rem);
  text-align: right;
}
.content h1 {
  margin-bottom: 20px;
  font-size: clamp(3.1rem, calc(3vw + 1rem), 3.5rem);
  animation: fadeIn 0.6s ease-in-out 0.1s forwards;
  opacity: 0;
}
.verses {
  margin-top: 30px;
}
.verses .topic {
  margin-bottom: 1.3rem;
  margin-left: 0.5rem;
  font-size: clamp(1.85rem, 1vw + 1rem, 3.5rem);
  line-height: 2.6rem;
  color: grey;
  /* display: flex;
  justify-content: center; */
  /* text-shadow: 0px 0px 0.5px gold; */
}
.verses .verse {
  font-size: clamp(1.9rem, calc(1vw + 1rem), 3.5rem);
  line-height: 2.6rem;
  margin-bottom: 1.3rem;
  margin-left: 0.5rem;
  animation: fadeIn 0.6s ease-in-out 0.1s forwards;
  opacity: 0;
}
.verses p .index {
  font-size: 1.3rem;
}
.loading-text {
  font-size: clamp(3rem, calc(1vw + 1rem), 3.5rem);
  line-height: 2.4rem;
  margin-bottom: 1.3rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
}
.bottom-next-page {
  font-size: clamp(1.8rem, calc(1vw + 1rem), 3.5rem);
  padding: 1rem;
  float: right;
  margin-top: 3rem;
  border-bottom: 1px solid #333;
  color: #333;
}
.bottom-next-page:hover {
  border-bottom: 2px solid #333;
}

#menuToggle {
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  margin-top: 0.5rem;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;

  background: #333;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition:
    transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.35s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  max-width: min(90vw, 400px);
  width: 100vw;
  max-height: 100vh;
  margin: 34px 0 0 -18px;
  padding: 34px 34px 34px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  /* glass effect */
  background: #f6f1e2;
  box-shadow: 0 12px 22px 0 #f6f1e2;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  transform-origin: 0% 0%;
  transform: translate(-110%, 0);

  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu li label {
  cursor: pointer;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Extra extra small devices */
@media only screen and (max-width: 336px) {
  #menuToggle {
    display: none;
  }
  .controls .book-selector {
    justify-content: left;
    width: 100%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .controls .book-selector .long-book-name {
    display: none;
  }
  .controls .btn-container {
    display: none;
  }
  .controls .book-selector {
    width: 100%;
    justify-content: right;
  }
  .controls .book-selector select {
    font-size: clamp(1.3rem, calc(1vw + 0.1rem), 3.5rem);
    padding-right: 2rem;
    width: 7rem;
  }
  #menuToggle {
    margin-left: 3rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .controls .book-selector .long-book-name {
    display: none;
  }
  .controls select {
    font-size: clamp(1.2rem, calc(1vw + 0.1rem), 3.5rem);
    width: 12rem;
  }
  .controls .btn {
    font-size: clamp(1.7rem, calc(2vw + 0.1rem), 3.5rem);
    width: 5rem;
  }
  .btn span {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .controls .btn {
    font-size: clamp(1.2rem, calc(1vw + 0.1rem), 3.5rem);
    width: 7rem;
  }
  .btn > span {
    display: inline;
  }
  .btn span > span {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .controls .btn {
    width: 12rem;
  }
  .btn span,
  .btn span span {
    display: inline;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
