body {
  height: 100%;
  background: #f6f1e2;
}
.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 100%;
  color: #333;
  padding-bottom: 100px; /* to prevent content being hidden behind controls */
}
/* align controls and content side by side */
.controls {
  position: fixed;
  /* From https://css.glass */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  bottom: 2%;
  padding: min(1em, 3%);
  border-radius: 0.9rem;
  /* glass effect */
  background: rgb(51 51 51 / 95%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 96%;
}
.controls .book-selector {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  width: 48%;
}
.controls .book-selector select {
  padding: 0.6rem;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  border-radius: 0.9rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #f6f1e2;
}
.controls .chapter-selector {
  /* font-size: clamp(1rem, calc(1vw + 0.53rem), 3.5rem); */
  min-width: 7rem;
}
.controls .btn-container {
  width: 48%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.controls .btn {
  border-radius: 0.9rem;
  border: none;
  outline: none;
  font-size: clamp(1rem, calc(1vw + 0.53rem), 3.5rem);
  cursor: pointer;
  background-color: #f6f1e2;
}
.controls .btn:active {
  opacity: 0.9;
}

.controls .themes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0 0 0;
  font-size: clamp(1rem, calc(1vw + 0.53rem), 3.5rem);
  display: none;
  cursor: default;
}
.content {
  flex: 3;
}
.content .header {
  display: flex;
}
.content .header .book-name {
  font-size: clamp(3.1rem, calc(3vw + 1rem), 3.5rem);
  flex: 3;
}
.content .header .book-chapter {
  font-size: clamp(2.1rem, calc(3vw + 1rem), 3.5rem);
  width: 49%;
  text-align: left;
  flex: 1;
}
.content h1 {
  margin-bottom: 20px;
  font-size: clamp(3.1rem, calc(3vw + 1rem), 3.5rem);
}
.verses {
  margin-top: 30px;
}
.verses p {
  font-size: clamp(1.9rem, calc(1vw + 1rem), 3.5rem);
  line-height: 2.3rem;
  margin-bottom: 1.3rem;
  margin-left: 0.5rem;
}
.verses p .index {
  font-size: 1.3rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .controls .book-selector .long-book-name {
    display: none;
  }
  .controls .btn-container {
    display: none;
  }
  .controls .book-selector {
    width: 100%;
    justify-content: center;
  }
  .controls .book-selector select {
    font-size: clamp(1rem, calc(2vw + 1rem), 3.5rem);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .controls .book-selector .long-book-name {
    display: none;
  }
  .controls select {
    font-size: clamp(1.3rem, calc(1vw + 0.53rem), 3.5rem);
    width: 14rem;
  }
  .controls .btn {
    font-size: clamp(1.1rem, calc(0.7vw + 1rem), 3.5rem);
    padding: 0.6rem;
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .controls .book-selector .short-book-name {
    display: none;
  }
  .controls .book-selector .long-book-name {
    display: flex;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
