body {
  height: 100%;
  background: #f6f1e2;
  overflow-y: scroll; /* Always show scrollbar to prevent layout shift */
}
.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 100%;
  color: #333;
  padding-bottom: 5rem; /* to prevent content being hidden behind controls */
}
/* align controls and content side by side */
.controls {
  position: fixed;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  top: 2vh;
  padding: min(1em, 3%);
  border-radius: 2rem;
  /* glass effect */
  background: #f6f1e2;
  box-shadow: 0 12px 22px 0 #f6f1e2;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 96%; /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.controls .book-selector {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  width: 45%;
}
.controls .book-selector select {
  padding: 0.6rem;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  border-radius: 0.9rem;
  border: 1px solid #333;
  color: #000;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-color: #f6f1e2;
}
.controls .chapter-selector {
  /* font-size: clamp(1rem, calc(1vw + 0.53rem), 3.5rem); */
  min-width: 7rem;
}
.controls .btn-container {
  width: 53%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
.btn {
  border-radius: 0.9rem;
  border: 1px solid #333;
  outline: none;
  font-size: clamp(1rem, calc(1vw + 0.53rem), 3.5rem);
  cursor: pointer;
  background-color: #f6f1e2;
}
.btn:hover {
  transition: all 0.1s;
}
.btn:active {
  opacity: 0.9;
}
.controls .themes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0 0 0;
  font-size: clamp(1rem, calc(1vw + 0.53rem), 3.5rem);
  display: none;
  cursor: default;
}
.content {
  flex: 3;
  margin-top: 6rem;
  height: 100%;
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out 0.1s forwards;
}
.content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .header .book-name {
  font-size: clamp(3.1rem, calc(3vw + 1rem), 3.5rem);
}
.content .header .book-chapter {
  color: rgb(33, 33, 33);
  font-size: clamp(2.1rem, calc(2.6vw + 1rem), 3.5rem);
  text-align: right;
}
.content h1 {
  margin-bottom: 20px;
  font-size: clamp(3.1rem, calc(3vw + 1rem), 3.5rem);
  animation: fadeIn 0.6s ease-in-out 0.1s forwards;
  opacity: 0;
}
.verses {
  margin-top: 30px;
}
.verses .topic {
  margin-bottom: 1.3rem;
  margin-left: 0.5rem;
  font-size: clamp(1.85rem, 1vw + 1rem, 3.5rem);
  line-height: 2.6rem;
  color: grey;
  /* display: flex;
  justify-content: center; */
  /* text-shadow: 0px 0px 1px grey; */
}
.verses .verse {
  font-size: clamp(1.9rem, calc(1vw + 1rem), 3.5rem);
  line-height: 2.6rem;
  margin-bottom: 1.3rem;
  margin-left: 0.5rem;
  animation: fadeIn 0.6s ease-in-out 0.1s forwards;
  opacity: 0;
}
.verses p .index {
  font-size: 1.3rem;
}
.loading-text {
  font-size: clamp(3rem, calc(1vw + 1rem), 3.5rem);
  line-height: 2.4rem;
  margin-bottom: 1.3rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
}
.bottom-next-page {
  font-size: clamp(1.8rem, calc(1vw + 1rem), 3.5rem);
  padding: 1rem;
  float: right;
  margin-top: 3rem;
  border-bottom: 1px solid #333;
}
.bottom-next-page:hover {
  border-bottom: 2px solid #333;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .controls .book-selector .long-book-name {
    display: none;
  }
  .controls .btn-container {
    display: none;
  }
  .controls .book-selector {
    width: 100%;
    justify-content: center;
  }
  .controls .book-selector select {
    font-size: clamp(1.7rem, calc(1vw + 0.1rem), 3.5rem);
    padding-right: 2rem;
    width: 9rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .controls .book-selector .long-book-name {
    display: none;
  }
  .controls select {
    font-size: clamp(1.2rem, calc(1vw + 0.1rem), 3.5rem);
    width: 12rem;
  }
  .controls .btn {
    font-size: clamp(1.2rem, calc(1vw + 0.1rem), 3.5rem);
    width: 12rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
