.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 14);
}

/* text sselection color */
.page ::selection {
  background-color: grey;
  color: black;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  padding: 26px 30px;
}

.dropdown {
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid grey;
  font-size: 16px;
  margin-right: 10px;
  appearance: none;
  cursor: pointer;
  background-color: #0e0e0e;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.input {
  width: 100%;
  padding: 19px 16px;
  border-radius: 8px;
  border: 1px solid grey;

  font-size: 15px;

  color: #fff;
  background-color: #0f0f0e;
  margin-bottom: 13px;
  outline: none;
}

.textarea {
  width: 100%;
  height: 300px;
  padding: 18px;
  font-size: 15px;
  color: #fff;
  background-color: #0f0f0e;
  resize: vertical; /* Allows vertical resizing */
  outline: none;
}

.button {
  margin-top: 20px;
  padding: 13px 22px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #0e0e0e;
  border: 1px solid grey;
  color: white;
}

.button:hover {
  background-color: #111;
}

.data {
  width: 35%;
  color: white;
  font-size: 18px;
  line-height: 1.6;
  padding-top: 4px;
  line-height: 1.8;
  color: grey;
  margin-right: 3%;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
}

/* media query for responsiveness */
@media (max-width: 824px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .data {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .form {
    width: 100%;
  }
}

.record {
  margin-bottom: 30px;
  border: 1px solid rgb(53, 53, 53);
  padding: 15px 20px;
  border-radius: 3px;
  background: #0e0e0e;
}
.book {
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  color: grey;
}
.chapter {
  line-height: 13px;
  font-weight: bold;
  font-size: 13px;
  color: grey;
  margin: 10px;
}
.line {
  line-height: 12px;
  font-weight: bold;
  font-size: 13px;
  color: grey;
}
.author {
  margin-top: 8px;
  margin-bottom: 5px;
  font-style: italic;
}
.text {
  margin-top: 11px;
  margin-bottom: 13px;
  color: grey;
  font-size: 15px;
  max-height: 300px;
  overflow: scroll;
  /* allways show scrollbar */
  scrollbar-width: thin;
  scrollbar-color: grey transparent;
  /* Shrink text */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
