html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
.custom-scroll-content::-webkit-scrollbar {
  display: none;
}
