.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
/* text sselection color */
.page ::selection {
  background-color: grey;
  color: black;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  padding: 26px 30px;
}

.dropdown-container {
  display: flex; /* Forces children onto the same line */
  gap: 20px; /* Adds space between the boxes */
  align-items: center; /* Ensures they align vertically */
}

.dropdown {
  padding: 12px 22px;
  border-radius: 8px;
  border: 1px solid grey;
  font-size: 16px;
  margin-right: 10px;
  appearance: none;
  cursor: pointer;
  background-color: black;
  color: white;
}

.input {
  width: 100%;
  padding: 19px 16px;
  border-radius: 8px;
  border: 1px solid grey;
  font-size: 16px;
  color: white;
  background-color: black;
  margin-top: 30px;
  margin-bottom: 13px;
}

.textarea {
  width: 100%;
  height: 300px;
  padding: 18px;
  border-radius: 8px;
  border: 1px solid grey;
  font-size: 16px;
  color: white;
  background-color: black;
  margin-top: 16px;
  resize: vertical; /* Allows vertical resizing */
}

.button {
  margin-top: 20px;
  padding: 13px 22px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  border: 1px solid grey;
  color: white;
}

.button:hover {
  background-color: rgb(78, 78, 78);
}

.data {
  width: 35%;
  color: white;
  font-size: 18px;
  line-height: 1.6;
  padding-top: 4px;
  line-height: 1.8;
  color: grey;
  margin-right: 3%;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.record {
  margin-bottom: 40px;
  border: 1px dotted rgb(67, 67, 67);
  padding: 15px 20px;
  border-radius: 20px;
}
.book {
  font-weight: bold;
  font-size: 16px;
  color: grey;
}
.chapter {
  font-weight: bold;
  font-size: 18px;
  color: grey;
  margin: 10px;
}
.line {
  font-weight: bold;
  font-size: 16px;
  color: grey;
}
.author {
  margin-top: 8px;
  font-style: italic;
  color: white;
}
.text {
  margin-top: 11px;
  margin-bottom: 13px;
  color: grey;
  font-size: 15px;
}
