.dropdown-menu {
  flex-direction: column-reverse;
  justify-content: flex-end;
  display: flex;
  position: absolute;
  bottom: 100px;
  width: 100px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.dropdown-menu .menu {
  border: 1px solid black;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
  background-color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  max-height: 40vh;
  overflow-y: hidden;
  /* rectagular scrollbar */
}
.dropdown-menu .menu li {
  display: block;
  font-size: clamp(1rem, calc(2vw + 0.53rem), 3.5rem);
}
.dropdown-menu .menu li:hover {
  display: block;
  background-color: #474747;
  color: #fff;
  text-decoration: none;
}
/* Hide by default */
.menu,
.toggle + a,
.toggle,
[id^='drop'] {
  display: none;
}
.toggle {
  display: block;
  background-color: #333333;
  padding: 14px 20px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  border: none;
  text-align: center;
}
/* Display dropdown-menu when clicked on Parent Lable */
[id^='drop']:checked + ul {
  display: block;
}
